spring:

  application:
    name: Login

  datasource:
    druid:
      url: jdbc:mysql://127.0.0.1:3306/jika?allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: jyc
      password: 123
      initial-size: 1
      min-idle: 1
      max-active: 20
      test-on-borrow: true
      # MySQL 8.x: com.mysql.cj.jdbc.Driver
      driver-class-name: com.mysql.jdbc.Driver

server:
  port: 58080

mybatis:
  type-aliases-package: cn.com.self.domain
  mapper-locations: classpath:mapper/*.xml

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info